.background {
    height: 100%;
    width: 100%;
    background: url(../images/background.png);
    /* background: url(../images/bg_night.png); */
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
}

/* .pageHold {
    width: 1600px;
    height: 800px;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
} */

/* 启动页 */

.start {
    z-index: 200;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: absolute;
    top: 0;
}

.start-title {
    font-family: 'siyuan', '宋体';
    font-size: 3rem;
    /* position: relative; */
    /* top: 35%; */
    /* margin-top: calc((100vh - (3rem + 3.5rem + 8rem + 3rem)) / 2); */
    margin-top: 35vh;
    width: 100%;
    text-align: center;
}

.start-btn {
    outline: none;
    border: none;
    font-family: 'siyuan', '宋体';
    font-size: 3rem;
    /* position: relative; */
    /* top: 10rem; */
    /* left: calc(50vw - var(--start_btn_width) / 2); */
    width: var(--start_btn_width);
    text-align: center;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    height: 8rem;
    line-height: 8rem;
    background-color: var(--color-box);
    transition: .3s;
}

.start-btn::before {
    content: '';
    width: 2px;
    height: 0rem;
    background-color: var(--color-theme);
    position: absolute;
    bottom: calc(100vh - (35vh + 3.5rem + 3rem + 13.9rem));
    left: calc((100vw - var(--start_btn_width)) / 2);
    transition: .3s;
}

.start-btn::after {
    content: '';
    width: 2px;
    height: 0rem;
    background-color: var(--color-theme);
    position: absolute;
    position: absolute;
    bottom: calc(100vh - (35vh + 3.5rem + 3rem + 13.9rem));
    right: calc((100vw - var(--start_btn_width)) / 2);
    transition: .3s;
}

.start-btn:hover {
    background-color: var(--color-box_hover);
}

.start-btn:hover::before,
.start-btn:hover::after {
    height: 8rem;
}

.home {
    z-index: 0;
}

/* Zero Page */
.zero-p {
    font-family: 'siyuan';
    font-size: 5rem;
    line-height: 10rem;
    letter-spacing: 1rem;
    font-weight: 700;
    color: var(--color-themeDark);
    margin-top: 15rem;
    margin-left: 25rem;
    text-shadow: 0 0 5px rgba(0, 134, 43, 0.6);
}

/* 左侧信息栏 */

.box {
    position: fixed;
    background-color: var(--color-box);
    border-radius: 1rem;
    /* backdrop-filter: blur(2px); */
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    z-index: 0;
    overflow: auto;
    width: var(--box_width);
    left: var(--box_left);
}

.box:hover {
    background-color: var(--color-box_hover);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.info {
    z-index: 10;
}

.time {
    left: 10rem;
    top: 3rem;
    font-size: 2rem;
    position: fixed;
}

.info1 {
    height: 17rem;
    top: 10rem;
    font-family: 'pingfang';
}

.info1-logo {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 4rem;
    top: 3.5rem;
    background-image: url(../images/logo.jpg);
    border-radius: 10rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
}

.info1-logo:hover {
    background-image: url(../images/mugi_square.png);
}

.info1-msg {
    position: absolute;
    left: 16rem;
    top: 5.5rem;
    font-size: 2rem;
    line-height: 3rem;
}

.info1-welcome {
    position: absolute;
    left: 5rem;
    bottom: 3rem;
    font-size: 2.5rem;
    color: var(--color-blue);
}

.yiyan {
    height: 25rem;
    top: 35rem;
    color: var(--color-basic);
    /* padding: 3rem; */
}

.yiyan-a {
    display: block;
    width: 100%;
    position: absolute;
    left: 0vw;
    text-align: center;
    /* cursor: default; */
    font-size: 2rem;
    z-index: 0;
    /* background-color: rgba(200, 200, 200, .4); */
    /* color: var(--basiccolor-black_a100); */
    user-select: text;
    text-decoration: none;
    color: var(--color-basic);
    /* margin-right: 2vw; */
    /* margin-top: 3rem; */
    /* padding-top: 1rem; */
    /* margin: 2vw; */
}

.yiyan-sen {
    margin: var(--yiyan_margin);
}

.yiyan-from {
    text-align: right;
    margin-right: var(--yiyan_margin);
}

.yiyan-new {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: "pingfang";
    font-size: 1.8rem;
    margin: 0;
    padding: 1rem;
    padding-left: var(--yiyan_margin);
    padding-right: var(--yiyan_margin);
    transition: .4s;
    border-radius: 10px;
}

.yiyan-new:hover {
    background-color: rgba(255, 255, 255, .5);
}

.info2 {
    height: 25rem;
    top: 67rem;
    font-family: 'consolas';
    /* width: calc(var(--box_width) - (var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2) - 4rem); */
}

.info2-talk {
    font-size: 2rem;
    margin: 3rem;
}

/* 导航栏 */

.showInfo {
    font-family: 'icomoon';
    position: fixed;
    left: 10rem;
    top: 5rem;
    background-color: var(--color-box);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    width: 13rem;
    height: 10rem;
    text-align: center;
    /* font-size: var(--navbtn_fontsize); */
    font-size: 4rem;
    display: none;
    z-index: 50;
    line-height: 10rem;
}

.nav,
.music {
    /* position: fixed; */
    position: fixed;
    left: 50rem;
    top: var(--padding_top);
    font-size: 2rem;
    background-color: var(--color-box);
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    font-family: 'pingfang';
    text-align: center;
    z-index: 100;
}

.music {
    top: 67rem;
    z-index: 100;
    padding-bottom: 2rem;
    /* padding: 0; */
    /* left: calc(var(--box_left) + var(--box_width) - (var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2)); */
    height: 21rem;
}

.music-selectbox {
    z-index: 500;
    position: absolute;
    left: calc(var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2 + 1vw);
    top: 0rem;
    width: var(--musicSelectorBox_width);
    text-align: left;
    background-color: var(--color-box_solid);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    animation: 'blur_5'ease .1s both;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    padding-left: 2rem;
    padding-right: 2rem;
    /* word-break:keep-all;
    overflow-wrap:normal; */
    display: none;
}

.nav:hover,
.showInfo:hover,
.music:hover,
.music-selectbox:hover {
    background-color: var(--color-box_solid_hover);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.music-selector {
    transition: .4s;
}

.music-selector:hover {
    color: var(--color-theme);
}

.nav-btn,
.music-btn,
.music-title {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: var(--navbtn_fontsize);
    height: var(--navbtn_height);
    padding-left: var(--navbtn_padding);
    padding-right: var(--navbtn_padding);
    transition: .3s;
    border-radius: 3px;
    display: block;
    text-align: center;
}

.music-title {
    margin: 0;
    z-index: 500;
}

.music-btn {
    font-family: 'icomoon';
    font-size: var(--musicbtn_fontsize);
    margin: 0;
}

.nav-btn:hover,
.active,
.music-btn:hover,
.music-selector.active {
    color: var(--color-theme);
}

/* Page */

/* .pages {
    width: 60vw;
    height: 80rem;
    position: absolute;
    left: 35vw;
    top: 15rem;
    overflow: auto;
    padding: 1vw;
} */

.pages {
    background-color: transparent;
}

.page {
    /* width: var(--page_width); */
    /* width: calc(100vw - var(--box_left) - var(--box_width) - var(--nav_width)); */
    width: calc(100vw - var(--pages_left) - 5rem);
    height: auto;
    position: absolute;
    left: var(--pages_left);
    top: var(--padding_top);
    /* background-color: #fff; */
    /* padding: 5rem; */
    z-index: 0;
    background-color: transparent;
}

.pageitem {
    z-index: 1;
    /* backdrop-filter: blur(2); */
    font-family: 'pingfang';
    position: relative;
}

.talk-item {
    break-inside: none;
    /* width: 50rem; */
    width: 40rem;
    height: auto;
    /* float: left; */
}

.talk-item:nth-child(odd) {
    margin-right: 10rem;
}

.talk-item,
.link-item,
.arti-item,
.about-item,
.tool-item,
.other-item {
    display: block;
    text-decoration: none;
    color: var(--color-basic);
    background-color: var(--color-pagebox);
    border-radius: 10px;
    /* backdrop-filter: blur(2); */
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    z-index: 0;
    overflow: auto;
    padding: 5rem;
    margin-bottom: 5rem;
    /* word-break: break-all !important; */
    overflow-wrap: anywhere !important;
}

.link-item {
    text-decoration: none;
    color: var(--color-basic);
    /* background-color: rgba(0, 0, 0, 0); */
}

.talk-item:hover,
.arti-item:hover, 
.link-item:hover,
.about-item:hover,
.tool-item:hover,
.other-item:hover {
    background-color: var(--color-pagebox_hover);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.talk-item-time,
.arti-item-time {
    position: absolute;
    top: 2rem;
    font-size: 1.5rem;
    color: var(--color-item_time);
}

.talk-item-time::after,
.arti-item-time::after {
    content: '';
    width: var(--item_after_width);
    height: 2px;
    background-color: rgb(156, 156, 156);
    position: absolute;
    top: 3rem;
    left: 0rem;
}

.talk-item-content,
.arti-item-title {
    position: relative;
    top: 2rem;
    font-size: 2.2rem;
}

.tool-item-title, 
.link-item-title {
    position: relative;
    top: 0;
    font-size: 2.5rem;
}

.link-item-a {
    position: relative;
    top: 1rem;
    font-size: 2.2rem;
    line-height: 4rem;
}

.arti-item-go {
    font-family: 'icomoon';
    font-size: 2.2rem;
    position: absolute;
    right: var(--artiitemgo_right);
    top: 5rem;
    transition: .3s;
}

.arti-item:hover .arti-item-go {
    right: calc(var(--artiitemgo_right) - 2rem);
}

.talk-item-content>img {
    width: 50%;
}

.arti-item-preview {
    position: relative;
    top: 2rem;
    font-size: 2rem;
    color: var(--color-grey);
}

.tool-qr-main {
    width: 100%;
    height: 25rem;
}

.tool-qr-left {
    width: 50%;
    /* position: absolute; */
    /* left: 0; */
    /* bottom: 0; */
}

.tool-qr-p {
    font-size: 2rem;
    color: var(--color-theme);
}

.tool-qr-ta {
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    width: 100%;
    height: 12.5rem;
    font-size: 2rem;
    font-family: 'consolas', 'siyuan';
    transition: .2s;
    background-color: var(--color-input);
    padding: 1rem;
}

.tool-qr-ta:focus {
    border-bottom: 2px solid var(--color-theme);
    background-color: var(--color-input_hover);
}

.tool-qr-btn,
.tool-qr-dl {
    outline: none;
    border: none;
    background-color: var(--color-btn);
    font-size: 2rem;
    width: var(--tool_btn_width);
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    transition: .2s;
    color: black;
}

.tool-qr-btn:hover,
.tool-qr-dl:hover {
    background-color: var(--color-btn_hover);
}

.tool-qr-output {
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: 10rem;
    top: 7.5rem;
    overflow: auto;
    /* padding: 1rem; */
}

.other-item-title {
    position: relative;
    top: -1rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* 定制select样式 https://www.zhangxinxu.com/wordpress/2025/07/css-checkmark-select-customizable/ */

select,
::picker(select) {
    appearance: base-select;
    border: none;
}

.other-mode-select {
    outline: none;
    border: none;
    font-family: 'pingfang', 'siyuan';
    font-size: 2.2rem;
    background-color: var(--color-input);
    color: var(--color-basic);
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 1rem;
    transition: .2s;
    width: 100%;
    cursor: url(/public/cursor/link.cur), default;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .2s;
}

.other-mode-select:hover {
    appearance: base-select;
    background-color: var(--color-input_hover);
}

.other-mode-select option {
    background-color: var(--color-box);
    transition: .2s;
}

.other-mode-select option:hover {
    background-color: var(--color-box_solid_hover);
}

.other-mode-select::picker-icon {
    content: '';
    font-family: 'icomoon';
    font-size: 2.2rem;
    /* line-height: 4rem; */
}

.other-mode-select option::checkmark {
    content: '';
    font-family: 'icomoon';
    font-size: 1.8rem;
    color: var(--color-theme);
}

.other-mode-select::picker(select) {
    opacity: 0;
    transition: .2s allow-discrete;
}

.other-mode-select::picker(select):popover-open {
    opacity: 1;
}

@starting-style {
    .other-mode-select::picker(select):popover-open {
        opacity: 0;
    }
}

.about-item-title {
    position: relative;
    top: -1rem;
    font-size: 2.2rem;
}

.about-item-content {
    position: relative;
    top: 1rem;
    font-size: 2rem;
    /* color: grey; */
}

.reader {
    position: fixed;
    width: var(--reader_width);
    height: 100rem;
    left: calc(var(--box_left) + var(--box_width) + 5rem);
    /* background-color: black; */
    padding: 0;
    z-index: 15;
}

.reader-container {
    width: calc(var(--readerContainer_width) - var(--reader_padding) * 2);
    height: calc(100vh - var(--reader_top) - var(--reader_bottom));
    position: absolute;
    left: 0;
    top: var(--reader_top);
    overflow: auto;
    font-size: var(--reader_fontSize);
    background-color: var(--color-reader);
    padding-left: var(--reader_padding);
    padding-right: var(--reader_padding);
    border-radius: 10px;
    animation: blur_5 ease .5s both;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    user-select: text;
    font-family: 'siyuan', '宋体';
    color: var(--color-basic);
}

.reader-container>p,
.reader-container>a,
.reader-container>h1,
.reader-container>h2,
.reader-container>h6,
.reader-container>pre>code {
    cursor: url(/public/cursor/text.cur), default;

}

.reader-container>p {
    text-indent: var(--reader_indent);
    line-height: var(--reader_lnheight);
}

.reader-container a {
    text-decoration: underline;
    color: var(--color-purple);
}

.reader-container>h1 {
    font-size: calc(var(--reader_fontSize) * 1.5);
    text-align: center;
}

.reader-container>h2::before {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 1.5rem;
    background-color: var(--color-theme);
    position: relative;
    right: 0.75em;
    vertical-align: middle;
    top: 0rem;
    /* background-color: var(--color-darkgrey); */
    border-radius: .2rem;
}

.reader-container>h2 {
    font-size: calc(var(--reader_fontSize) * 1.3);
}

.reader-container>h3 {
    font-size: calc(var(--reader_fontSize) * 1.2);
}

.reader-container>h6 {
    text-align: center;
    font-size: calc(var(--reader_fontSize) * 0.8);
    font-weight: 400;
    /* color: var(--color-darkgrey); */
}

.reader-container>pre>code {
    font-family: 'consolas', 'siyuan';
    /* background-color: black; */
}

.hljs-ln-numbers {
    color: var(--color-grey);
}

.code-badge-language {
    font-family: 'consolas';
}

.code-badge-copy-icon,
.text-success {
    font-family: 'icomoon';
    font-style: normal;
    cursor: url(/public/cursor/link.cur), default;
}

.inline-code {
    display: inline;
    font-family: 'consolas', 'siyuan';
    padding-left: 0.5em;
    padding-right: 0.5em;
    /* padding: 0.5em; */
    border-radius: 0.5rem;
    background: var(--color-box_solid_hover);
    color: var(--color-basic);
    padding-top: calc((var(--reader_lnheight) - var(--reader_fontSize)) / 2);
    padding-bottom: calc((var(--reader_lnheight) - var(--reader_fontSize)) / 2);
}

.reader-back {
    position: absolute;
    left: calc(var(--readerContainer_width) + 5rem);
    top: calc(var(--reader_top));
    font-size: 2rem;
    background-color: var(--color-box);
    line-height: 4rem;
    padding-left: var(--readerBtn_padding);
    padding-right: var(--readerBtn_padding);
    border-radius: .5rem;
    transition: .3s;
    color: var(--color-basic);
}

.reader-back:hover {
    background-color: var(--color-box_hover);
    color: var(--color-theme);
}

.reader-nav {
    position: absolute;
    left: calc(var(--readerContainer_width) + var(--readerBtn_padding) * 2 + 5rem + 4rem + 2rem);
    top: calc(var(--reader_top));
    width: 100rem;
}

.reader-btn,
.reader-setting-default {
    display: inline;
    font-size: 2rem;
    line-height: 4rem;
    background: transparent;
    outline: none;
    border: none;
    padding-left: calc(var(--navbtn_padding) / 2);
    padding-right: calc(var(--navbtn_padding) / 2);
    /* padding-right: var(--navbtn_padding); */
    color: var(--color-basic);
    transition: .3s;
    border-bottom: 2px solid transparent;
}

.reader-btn:hover,
.reader-setting-default:hover {
    color: var(--color-theme);
    /* text-decoration: underline; */
    /* background-color: var(--color-box_hover); */
}

.reader-btn.active {
    border-bottom: 2px solid var(--color-theme);
    color: var(--color-theme);
}

.reader-ctrl {
    width: var(--readerCtrl_width);
    height: auto;
    position: absolute;
    left: var(--readerCtrl_left);
    top: calc(var(--reader_top) + 4rem + 2rem);
    font-size: var(--readerCtrl_fs);
    background-color: var(--color-box);
    /* line-height: 4rem; */
    padding-left: var(--navbtn_padding);
    padding-right: var(--navbtn_padding);
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: var(--navbtn_padding); */
    border-radius: 5px;
    transition: .3s;
    color: var(--color-basic);
    margin: 0;
}

.reader-index-h2 {
    font-size: var(--readerCtrl_fs);
    line-height: calc(var(--readerCtrl_fs) * 1.5);
    color: var(--color-basic);
    transition: .3s;
    margin-bottom: 1rem;
}

.reader-index-h2:nth-last-child(1) {
    margin-bottom: 2rem;

}

.reader-index-h3 {
    font-size: 1.8rem;
    line-height: 2rem;
    color: var(--color-basic);
    transition: .3s;
    margin-left: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reader-index-h3::before {
    content: '-';
    display: inline-block;
    width: 2px;
    height: 1.5rem;
    position: relative;
    right: 1em;
    vertical-align: middle;
    top: -0.75rem;
    /* background-color: var(--color-darkgrey); */
    border-radius: 2px;
}

.reader-index-h2:hover,
.reader-index-h2.active,
.reader-index-h3:hover,
.reader-index-h3.active {
    color: var(--color-theme);
}

.reader-setting>table {
    border: none;
    border-spacing: 0rem;
}

.reader-setting>table>p {
    font-size: 2rem;
    line-height: 2rem;
}

input {
    border: none;
    outline: none;
    width: calc(var(--input_fs) * 3);
    padding: 1rem;
    background-color: var(--color-input);
    font-family: 'consolas';
    font-size: var(--input_fs);
    transition: .3s;
    border-bottom: 2px solid transparent;
}

input:hover,
input:focus {
    background-color: var(--color-input_hover);
    /* outline: none; */
}

input:focus {
    border-bottom: 2px solid var(--color-theme);
    outline: none !important;
}