/* public styles */

.main {
    /* height: 900px; */
    height: 100vh;
    width: 100vw;
    background: url(../images/background.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: -200px 0; */
    z-index: -2;
}

.noJS {
    position: absolute;
    top: 7vh;
    left: 1vh;
    background-color: rgba(200, 200, 200, .5);
    color: rgba(0, 0, 0, .8);
}

.p-button,
select {
    transition: .2s;
}

.p-button:hover,
select:hover {
    background-color: var(--basicColor_btnHover);
    color: var(--basicColor_white_a100);
}

.nav {
    height: 6vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--basicColor_white_a050);
    /* cursor: default; */
    z-index: 5;
}

.logo {
    display: block;
    position: absolute;
    height: 6vh;
    width: 6vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: url(../images/logo.jpg);
    background-size: cover;
    margin: 0px;
    margin-right: 1vh;
}

.info > p,
.info > a {
    color: var(--basicColor_black_a100);
}

.infoOff {
    font-family: 'icomoon';
    position: absolute;
    right: 2vh;
    top: 2vh;
    margin: 0;
    font-size: 2.5vh;
    /* background-color: var(--basicColor_white_a080); */
}

.info-sup,
.info-shr {
    text-decoration: none;
}

.info-sup-1,
.info-shr-1 {
    font-size: 2.5vh;
}

.info-sup-2 {
    color: rgb(85, 85, 85);
}

.info-sup-3 {
    color: rgb(0, 122, 204);
}

.info-sup-4 {
    color: rgb(0, 120, 214);
}

.info-shr-2 {
    background: url(https://sqimg.qq.com/qq_product_operations/im/qqlogo/imlogo_b.png);
    background-size: cover;
}

.info-shr-3 {
    color: rgb(123, 179, 46);
}

.info-shr-4 {
    color: rgb(29, 161, 242);
}

.info-shr-5 {
    color: rgb(255, 0, 0);
}

.info-send {
    display: block;
    /* position: absolute;
    left: 2vh;
    top: 12vh; */
    position: relative;
    left: 1vh;
    color: var(--basicColor_black_a100);
    text-decoration: underline;
    margin-top: 1.5vh;
    font-size: 2vh;
}

.info-version, 
.info-update {
    display: block;
    /* position: absolute;
    left: 2vh;
    top: 12vh; */
    position: relative;
    left: 1vh;
    color: var(--basicColor_black_a100);
    text-decoration: none;
    margin-top: 2vh;
    font-size: 2vh;
}

.navbtn {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 4vh;
    margin: 1vh 1.5vh;
    /* background-color: #fff; */
    color: var(--basicColor_nav);
    /* transition: .15s; */
}

.navbtn:hover,
.navUp:hover {
    /* color: rgba(40, 75, 225, 0.8); */
    font-weight: 700;
}

.navDown:hover {
    color: #000;
}

.web {
    margin-left: 8vh;
}

.sen {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 5vh;
    text-align: right;
    /* cursor: default; */
    font-size: 2vh;
    z-index: 0;
    background-color: rgba(200, 200, 200, .4);
    color: var(--basicColor_black_a100);
    user-select: text;
}

.senChange {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    text-align: right;
    /* cursor: default; */
    font-size: 2vh;
    z-index: 0;
    /* background-color: rgba(200, 200, 200, .4); */
    color: var(--basicColor_black_a100);
    font-family: 'icomoon';
}

.load {
    position: absolute;
    top: 50vh;
    left: 30vw;
    font-size: 3vh;
    /* width: 27vh; */
    z-index: -123;
    color: rgb(100, 100, 100);
}

.loadAni {
    display: block;
    font-size: 3vh;
    z-index: -123;
    color: rgb(100, 100, 100);
    font-family: 'icomoon';
    margin: 0;
    width: 3vh;
    animation: loading cubic-bezier(.1, .3, .5, .3).8s infinite;
}

.navBtn {
    font-family: 'icomoon';
    display: inline-block;
    position: absolute;
    right: 2vh;
    top: 1vh;
    margin: 0;
    margin-top: 1vh;
    font-size: 2vh;
    color: var(--basicColor_nav);
    z-index: 99;
    /* cursor: default; */
}

.navRight {
    display: inline-block;
    position: absolute;
    right: 3vh;
    font-family: 'icomoon';
    font-size: 4vh;
    margin: 1vh;
}

.time {
    display: inline-block;
    position: absolute;
    right: 5vh;
    text-align: right;
    margin: 0px;
    margin-top: .5vh;
    color: var(--basicColor_nav);
    font-size: 2vh;
}

.hitokoto {
    /* height: 8vh; */
    width: 50vw;
    position: absolute;
    bottom: 60vh;
    left: 25vw;
    background-color: var(--basicColor_white_a030);
    padding: 2vh;
    z-index: 0;
}

.hitokoto-jump {
    display: block;
    width: 50vw;
    color: #000;
    text-decoration: none;
}

.sentence {
    font-size: 2.5vh;
    margin: 0;
    text-align: center;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    position: relative;
    bottom: 0vh;
}

.resource {
    font-size: 2vh;
    margin: 0;
    margin-top: 2vh;
    text-align: right;
    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newSen {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: "siyuan";
    font-size: 1.8vh;
    margin: 0;
    padding: 0.8vh;
    transition: .2s;
    color: var(--basicColor_black_a100);
}

.newSen:hover {
    background-color: var(--basicColor_white_a050);
}

.weather {
    /* height: auto; */
    width: 50vw;
    position: absolute;
    top: 34vh;
    left: 0;
    background-color: var(--basicColor_purple_a040);
    padding: 2vh;
    z-index: 0;
    overflow: auto;
}

.weather-title {
    font-size: 2.5vh;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weather-message {
    /* height: 2vh; */
    font-size: 2vh;
    margin: 0;
    margin-top: .5vh;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.weather-get,
.weather-check {
    font-size: 1.5vh;
    margin: 0;
    margin-top: 1vh;
    display: inline-block;
    margin-left: 2vw;
    background-color: var(--basicColor_purple_a060);
    padding: 1vh;
}

.weather-location {
    outline: none;
    /* border: none; */
    background-color: var(--basicColor_purple_a060);
    padding: 1vh;
    font-family: 'consolas';
    font-size: 1.5vh;
    width: 20vw;
    height: 2vh;
}

.weather-city {
    display: inline-block;
    font-size: 2vh;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
    top: 2.5vh;
    left: 15vh;
}

.weather-a {
    display: inline-block;
    font-size: 2vh;
    width: auto;
    height: auto;
    margin: 0;
    /* position: absolute;
    bottom: 2.5vh;
    right: 5vh; */
    color: #000;
}

.weather-message-title {
    display: inline-block;
    text-align: right;
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom; */
}

.weather-detail {
    display: inline-block;
    /* height: 2vh; */
    font-size: 2vh;
    margin: 0;
    margin-top: 1vh;
    margin: 0;
    margin-left: 2vh;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* vertical-align: center; */
}

.page {
    position: absolute;
    top: -100vh;
    left: 0;
    /* background-color: rgba(80, 95, 255, 0.5); */
    width: 100vw;
    height: 94vh;
    /* cursor: default; */
    overflow: auto;
    z-index: 100;
}

.pageTitle {
    margin: 2vh;
    margin-left: 5vw;
    font-size: 4vh;
    /* font-weight: 700; */
    font-family: 'consolas';
    color: var(--basicColor_black_a100);
}

.web-item {
    position: relative;
    height: 6vh;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
    background-color: var(--basicColor_cyan_a050);
    overflow: hidden;
    border-radius: 3vh;
    font-family: 'serif';
}

.web-site {
    user-select: text;
}

.web-item>p,
.web-item>a {
    display: inline-block;
    background-color: var(--basicColor_purple_a050);
    height: 4vh;
    margin-top: 1vh;
    border-radius: 4vh;
    color: var(--basicColor_black_a100_unchangeable);
    text-decoration: none;
}

.set-item {
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
    background-color: var(--basicColor_cyan_a050);
    overflow: hidden;
    border-radius: 3vh;
    position: relative;
    font-family: 'serif';
}

.set-item>p {
    display: inline;
    font-size: 3vh;
    margin: 0;
    line-height: 6vh;
    margin-left: 2vh;
    font-family: 'serif';
}

.set-select {
    display: inline-block;
    width: auto;
    height: 4vh;
    border-radius: 2vh;
    position: absolute;
    right: 10vh;
    top: 1vh;
    font-size: 1.5vh;
    background-color: var(--basicColor_purple_a050);
    padding: 1vh;
    z-index: 5;
    color: #000;
    outline: none;
    border: none;
}

.set-check {
    display: inline-block;
    width: auto;
    height: 4vh;
    border-radius: 2vh;
    position: absolute;
    right: 2vh;
    top: 1vh;
    font-size: 1.5vh;
    background-color: var(--basicColor_purple_a050);
    padding: 1vh;
    z-index: 5;
    color: #000;
    outline: none;
    border: none;
}

.set4_theme-preview {
    display: inline-block;
    width: 10vw;
    height: 10vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    background-color: #fff;
    text-align: center;
    border: .5vh solid rgba(0, 0, 0, 0);
    /* border: .5vh solid var(--basicColor_cyan_a050); */
}

.set4_theme-name {
    display: inline-block;
    width: 100%;
    font-family: 'siyuan';
    font-size: 2vh;
    position: relative;
    top: 11vh;
}

.tool-item {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
    background-color: var(--basicColor_cyan_a050);
    overflow: hidden;
    border-radius: 3vh;
    position: relative;
    font-family: 'serif';
}

.tool-item-name {
    display: inline;
    font-size: 3vh;
    margin: 0;
    line-height: 6vh;
    margin-left: 2vh;
    font-family: 'serif';
}

.tool-item-right {
    display: inline-block;
    font-size: 2vh;
    margin: 0;
    line-height: 6vh;
    margin-left: 2vh;
    position: absolute;
    right: 2vh;
    color: gray;
}

.tool2 {
    margin: 0;
}

.tool3_feedback-input {
    width: 60vw;
    height: 10vh;
    margin-left: 15vw;
    resize: none;
    font-family: 'consolas';
    font-size: 2vh;
    outline: none;
    /* border: none; */
    background-color: var(--basicColor_purple_a050);
}

.tool3_feedback-input {
    margin-bottom: 10vh;
}

.tool4_signup-left {
    display: inline-block;
    position: relative;
    font-size: 2vh;
    margin-top: 3vh;
    font-family: 'consolas';
    z-index: 10;
}

.tool4_signup-right {
    display: inline-block;
    position: absolute;
    font-size: 2vh;
    margin-top: 3vh;
    outline: none;
    /* border: none; */
    background-color: var(--basicColor_purple_a050);
    height: 3vh;
    font-family: 'consolas';
    z-index: 10;
}

.tool3_feedback-check,
.tool4_signup-check {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: var(--basicColor_purple_a050);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}

.tool6_bugFeedback-ta {
    resize: none;
    width: 30vw;
    height: 10vh;
}

.tool5_rareWord-input,
.tool5_rareWord-output {
    display: inline-block;
    font-size: 2vh;
    outline: none;
    /* border: none; */
    background-color: var(--basicColor_purple_a050);
    font-family: 'consolas';
    position: relative;
}

.tool5_rareWord-left1,
.tool5_rareWord-left2,
.tool7_formula-left1,
.tool7_formula-left2 {
    display: inline-block;
    font-size: 2vh;
    margin-left: 20vw;
    outline: none;
    /* border: none; */
    height: 3vh;
    font-family: 'consolas';
    /* width: 20vw; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.tool5_rareWord-check {
    display: block;
    margin-left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: var(--basicColor_purple_a050);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}

.tool5_rareWord-output {
    height: 6vh;
    width: 60vw;
    bottom: 1vh;
}

.tool7_formula-note {
    margin-left: 3vw;
    font-size: 1.8vh;
}

.tool7_formula-check {
    display: block;
    position: absolute;
    left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: var(--basicColor_purple_a050);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}

.tool7_formula-output {
    font-size: 2vh;
    display: inline-block;
    outline: none;
    /* border: none; */
    font-size: 3vh;
    padding: 1vh;
    font-family: 'Times New Roman';
    font-style: italic;
}

.tool7_formula-fz {
    /* position: absolute;
    top: 0vh; */
    position: relative;
    bottom: 5vh;
    /* left: 3vh; */
    text-align: right;
}

/* .tool7_formula-input-frac::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
    position: relative;
    top: -6vh;
    left: 0vh;
} */

.tool7_formula-out-k-fz::after,
.tool7_formula-out-h-fz::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 4.5vh;
    left: 0vh;
}

.tool7_formula-fm {
    position: absolute;
    left: 0vh;
    /* position: relative; */
    text-align: right;
}

.tool7_formula-frac {
    display: inline-block;
    position: relative;
    top: 3vh;
    /* background-color: #fff; */
    height: 8vh;
    /* width: 3vh; */
}

.tool7_formula-left2 {
    position: absolute;
    bottom: 3vh;
    left: 1.8vw;
}

.tool7_formula-input {
    display: inline-block;
    width: 10vh;
    height: 3vh;
    font-family: 'Times New Roman';
    font-size: 2vh;
    outline: none;
    /* border: none; */
    background-color: var(--basicColor_purple_a050);
}

.tool7_formula-why-title {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 2vh;
}

.tool7_formula-why {
    height: 80vh;
    background-color: rgba(120, 120, 200, .95);
    position: fixed;
    top: 10vh;
    z-index: 1314;
    overflow: auto;
    border-radius: 2vh;
    display: none;
    font-family: 'siyuan';
}

.tool7_formula-why>p {
    font-size: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    outline: none;
    border: none;
}

.tool7_formula-why-close {
    font-family: 'icomoon';
    font-size: 2vh;
    position: fixed;
    right: 27vw;
    top: 12vh;
}

/* .captcha {
    position: absolute;
    right: 25vw;
    bottom: 14vh;
} */

.msg1,
.msg2 {
    padding: 2vh;
    position: absolute;
    left: 3vw;
    top: 8vh;
    border-radius: 1vh;
    background-color: var(--basicColor_cyan_a050);
    /* width: 10vw; */
    /* height: 2.3vh; */
    width: auto;
    height: auto;
    overflow: hidden;
    font-size: 1.8vh;
    display: none;
    z-index: 1;
}

.msg1-btn,
.msg2-btn {
    text-decoration: underline;
}

.msg1-detail,
.msg2-detail {
    display: none;
}

.captcha2-scene {
    width: 100vw;
    height: 100vh;
    z-index: 1314;
    background-color: rgba(50, 50, 50, .6);
    position: fixed;
    top: 0vh;
    left: 0vw;
    display: none;
}

.captcha2-title {
    font-family: '微软雅黑';
    font-size: 2vh;
    position: absolute;
    top: 23vh;
    left: 30vw;
    color: var(--basicColor_white_a100);
}

.captcha2 {
    --offset-left: var(--width) * -1;
    --moved: 0px;

    display: block;
    width: var(--width);
    height: var(--height);
    border-radius: 4px;
    background-image: url(../images/background-captcha.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);

    position: absolute;
    top: 35vh;
    z-index: 1315;
}

.captcha2::before,
.captcha2::after {
    position: absolute;
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;

    clip-path: inset(calc((var(--height) - var(--puzzle-height)) / 2)
            /* 90px */
            var(--puzzle-width)
            /* 90px */
            calc((var(--height) - var(--puzzle-height)) / 2)
            /* 90px */
            calc(var(--width) - var(--puzzle-width) * 2)
            /* 230px */
        );
    -webkit-clip-path: inset(calc((var(--height) - var(--puzzle-height)) / 2)
            /* 90px */
            var(--puzzle-width)
            /* 90px */
            calc((var(--height) - var(--puzzle-height)) / 2)
            /* 90px */
            calc(var(--width) - var(--puzzle-width) * 2)
            /* 230px */
        );
}

.captcha2::after {
    transform: translateX(clamp(calc(var(--width) * -1),
                calc((var(--width) * -1) + var(--moved)),
                calc(var(--puzzle-width))));
    position: relative;
    top: 10vh;
    transition: .25s all ease-in-out;
}

.captcha2:active::after {
    transition: none;
}

.captcha2::before {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    /* bottom: 5vh; */
}

.handle {
    width: calc(var(--width) + var(--puzzle-width) * 2);
    height: 3vh;
    border-radius: 3vh;
    background-color: #eee;
    position: absolute;
    bottom: -50px;
    left: calc(var(--puzzle-width) * 2 * -1);
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .2);
    border: 3px solid #ccc;
}

.handle-span {
    display: block;
    width: var(--puzzle-width);
    height: inherit;
    border-radius: inherit;
    background-color: #fff;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .25), 0px 2px 4px rgba(0, 0, 0, .3);
    position: absolute;
    cursor: url(../../public/cursor/move.cur), move;
    transform: translatex(clamp(0vh,
                var(--moved),
                calc(var(--width) + var(--puzzle-width))));

    transition: .25s all ease-in-out;
}

.captcha2:active .handle-span {
    transition: none;
}

.captcha2.passed::before,
.captcha2.passed::after,
.captcha2.passed #handle {
    opacity: 0;
}

.captcha2-btn {
    font-family: '微软雅黑';
    font-size: 2vh;
    position: absolute;
    top: 73vh;
    left: 60vw;
    color: var(--basicColor_white_a100);
    text-decoration: underline;
}

.tool-table {
    border: none;
    margin-bottom: 10vh;
    position: relative;
    border-spacing: 1vh;
}

.tool-table-right {
    /* display: inline-block; */
    /* position: absolute; */
    font-size: 2vh;
    /* margin-top: 3vh; */
    outline: none;
    /* border: none; */
    background-color: var(--basicColor_purple_a050);
    height: 3vh;
    font-family: 'consolas';
    z-index: 10;
}

.tool-table-left {
    /* display: inline-block; */
    /* position: relative; */
    font-size: 2vh;
    /* margin-top: 3vh; */
    margin-right: 5vw;
    font-family: 'consolas';
    z-index: 10;
}

.tool-table-td-left {
    text-align: right;
}

.tool-table-ta {
    resize: none;
    width: 30vw;
    height: 10vh;
}

.tool-table-check {
    display: block;
    position: absolute;
    bottom: 1vh;
    left: 35vw;
    width: 20vw;
    height: 5vh;
    background-color: var(--basicColor_purple_a050);
    font-size: 2vh;
    line-height: 5vh;
    text-align: center;
}