:root {
    user-select: none;
    cursor: url(../cursor/normal.cur), default;
    --basicColor_purple_a060: rgba(150, 150, 255, 0.6);
    --basicColor_purple_a050: rgba(150, 150, 255, 0.5);
    --basicColor_purple_a040: rgba(150, 150, 255, 0.4);
    --basicColor_purple_a030: rgba(150, 150, 255, 0.3);
    --basicColor_purple_a000: rgba(150, 150, 255, 0);

    --basicColor_inputFocus: rgba(106, 90, 255, 1);
    --basicColor_btnHover: rgba(106, 90, 255, 0.7);
    --basicColor_nav: rgba(40, 75, 225, 0.6);
    --basicColor_info: rgba(179, 255, 257, .8);
    --basicColor_info_hide: rgba(255, 255, 255, 0);
    --basicColor_bodyBackground: rgb(150, 150, 255);

    --basicColor_cyan_a050: rgba(129, 216, 207, 0.5);
    
    --basicColor_white_a100: rgba(255, 255, 255, 1);
    --basicColor_white_a080: rgba(255, 255, 255, 0.8);
    --basicColor_white_a070: rgba(255, 255, 255, 0.7);
    --basicColor_white_a050: rgba(255, 255, 255, 0.5);
    --basicColor_white_a030: rgba(255, 255, 255, 0.3);
    --basicColor_white_a100_unchangeable: rgba(255, 255, 255, 1);
    
    --basicColor_black_a100: rgba(0, 0, 0, 1);
    --basicColor_black_a100_unchangeable: rgba(0, 0, 0, 1);
}

body {
    margin: 0;
    position: relative;
    background-color: var(--basicColor_bodyBackground);
    cursor: url(../../public/cursor/normal.cur), default;
}

div::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 7px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px;
    /* scrollbar-arrow-color: red; */
}

div::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 7px;
    /* box-shadow: inset 0 0 5px rgba(50, 50, 250, .3); */
    background: rgba(50, 50, 250, .3);
    /* scrollbar-arrow-color: red; */
    transition: .3s;
}

div::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 250, .7);
}

div::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0); */
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

input,
textarea {
    border: none;
    border-bottom: 4px solid var(--basicColor_purple_a030);
    border-top: 2px solid var(--basicColor_purple_a000);
    border-left: 4px solid var(--basicColor_purple_a000);
    /* padding-left: 2px; */
    border-radius: 0px;
    transition: .3s;
    cursor: url(../../public/cursor/text.cur), text;
}

input:focus,
textarea:focus {
    /* background-color: rgba(106, 90, 255, 0.5); */
    /* box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, .2); */
    border-bottom: 4px solid var(--basicColor_inputFocus);
}

a {
    cursor: url(../../public/cursor/link.cur), pointer;
}

button {
    cursor: url(../../public/cursor/normal.cur), default;
}

.alert {
    display: none;
    opacity: 0;
    position: fixed;
    pointer-events: all;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(77, 66, 68, .7);
    z-index: 99999;
}

.alert-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 左移50%，上移50%，以居中 */
    background-color: var(--basicColor_cyan_a050);
    padding: 2vh;
    padding-bottom: 75px;
    border-radius: 10px;
    font-family: 'siyuan';
}

.alert-content {
    text-align: left;
    font-size: 20px;
    margin: 0px;
    color: var(--basicColor_black_a100_unchangeable);
}

.alert-btn {
    /* padding: 20px; */
    width: 100px;
    height: 40px;
    /* border: darkblue 2px solid; */
    border: none;
    background-color: var(--basicColor_purple_a050);
    color: var(--basicColor_black_a100_unchangeable);
    font-size: 20px;
    /* line-height: 40px; */
    transition: .2s;
    font-family: 'siyuan';
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.alert-btn:hover {
    /* border: none; */
    background-color: var(--basicColor_btnHover);
    color: var(--basicColor_white_a100_unchangeable);
}

@media (prefers-color-scheme: dark) {
    .main {
        background: url(../images/background_night.jpg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes alert-in {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}

@keyframes infoCome {
    0% {
        top: 3vh;
        left: -3vh;
        background-color: var(--basicColor_info_hide);
    }

    100% {
        top: 7vh;
        left: 1vh;
        background-color: var(--basicColor_info);
    }
}

@keyframes infoOut {
    0% {
        top: 7vh;
        left: 1vh;
        background-color: var(--basicColor_info);
    }

    100% {
        top: 3vh;
        left: -3vh;
        background-color: var(--basicColor_info_hide);
    }
}

@keyframes navUpFrame {
    0% {
        top: 0vh;
    }

    100% {
        top: -6vh;
    }
}

@keyframes navDownFrame {
    0% {
        top: -6vh;
    }

    100% {
        top: 0vh;
    }
}

@keyframes senCome {
    0% {
        background-color: rgba(200, 200, 200, 0);
        color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: rgba(200, 200, 200, .4);
        color: var(--basicColor_black_a100);
    }
}

@keyframes senCome2 {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    100% {}
}

@keyframes sentenceChange {
    0% {
        transform: rotate(0deg);
    }

    99% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes navBtnDown {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes navBtnUp {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pageCome-main {
    0% {
        filter: blur(0);
    }

    100% {
        filter: blur(10px);
    }
}

@keyframes pageOut-main {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0);
    }
}

@keyframes pageCome {
    0% {
        top: -100vh;
    }

    100% {
        top: 6vh;
    }
}

@keyframes pageOut {
    0% {
        top: 6vh;
    }

    100% {
        top: -100vh;
    }
}

@keyframes hitokotoOut {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(10px);
    }
}

@keyframes hitokotoCome {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes public_hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes public_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tool7_formulaOut {
    0% {
        background-color: rgba(120, 120, 200, 0.95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 25vw;
    }

    100% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 22vw;
    }
}

@keyframes tool7_formulaCome {
    0% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 22vw;
    }

    100% {
        background-color: rgba(120, 120, 200, .95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 25vw;
    }
}

@keyframes tool7_formulaOutM {
    0% {
        background-color: rgba(120, 120, 200, 0.95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 10vw;
    }

    100% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 8vw;
    }
}

@keyframes tool7_formulaComeM {
    0% {
        background-color: rgba(100, 100, 200, 0);
        color: rgba(0, 0, 0, 0);
        top: 8vh;
        left: 8vw;
    }

    100% {
        background-color: rgba(120, 120, 200, .95);
        color: rgba(0, 0, 0, 1);
        top: 10vh;
        left: 10vw;
    }
}