@font-face {
    font-family: 'siyuan';
    src: url('/public/fonts/SourceHanSerifCN-Regular-1-subset.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'pingfang';
    src: url('/public/fonts/PingFangSC-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'sanji';
    src: url('/public/fonts/SanJiZhuoSongTi-2.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@keyframes hide {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    50% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

:root {
    --color-basic: rgb(1, 150, 47);

    --nav-top: clamp(10px, 2vh, 20px);
    --nav-height: 30px;
    --oshi-page-top: 80px;
    --oshi-page-left: 10vw;
    --oshi-page-name-fs: 80px;
    --oshi-page-intro-fs: 30px;
}

body {
    /* background-color: rgb(30, 177, 76); */
    margin: 0;
    overflow: hidden;
    user-select: none;
    min-width: 800px;
    cursor: url(/public/cursor/normal.cur), default;
}

.bg {
    width: 105vw;
    height: 105vh;
    position: fixed;
    left: -2.5vw;
    top: -2.5vh;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -999;
    /* backdrop-filter: blur(10px); */
    filter: blur(3px);
}

.nav {
    /* width: 100vw;  */
    height: var(--nav-height);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: var(--nav-top);
    margin-left: clamp(10px, 5vw, 500px);
}

.nav-btn {
    display: inline-block;
    margin: 0;
    margin-left: 0.75em;
    font-size: clamp(12px, 4vw, 20px);
    line-height: var(--nav-height);
    /* color: var(--color-basic); */
    font-family: 'siyuan';
    border-bottom: 1px solid transparent;
    transition: .4s;
}

.nav .active {
    border-bottom: 1px solid var(--color-basic);
    color: var(--color-basic);
}

.nav-btn:hover {
    color: var(--color-basic);
}

.page {
    width: 100vw;
    height: calc(100vh - var(--nav-height) - var(--nav-top));
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.oshi-page img {
    height: calc(100vh - var(--nav-height) - var(--nav-top) - 5vh);
    position: absolute;
    right: 5vw;
    /* box-shadow: 25px 25px 25px 25px rgba(0, 0, 0, .6); */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

.oshi-page-name {
    font-size: var(--oshi-page-name-fs);
    font-family: 'sanji';
    position: absolute;
    left: var(--oshi-page-left);
    top: var(--oshi-page-top);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}

.oshi-page-intro {
    position: absolute;
    font-family: 'sanji';
    left: var(--oshi-page-left);
    top: calc(var(--oshi-page-top) + var(--oshi-page-name-fs) * 2);
    font-size: var(--oshi-page-intro-fs);
    line-height: calc(var(--oshi-page-intro-fs) * 1.75);
}

@media (max-width: 768px) {
    :root {
        --oshi-page-top: 5vh;
        --oshi-page-left: 8vw;
        --oshi-page-name-fs: 60px;
        --oshi-page-intro-fs: 18px;
    }

    .oshi-page img {
        height: calc(50vh - var(--nav-height) - var(--nav-top));
        position: absolute;
        right: 2vw;
        bottom: 2vh;
    }
}