:root {
    user-select: none;
    cursor: url(../../public/cursor/normal.cur), default;

    --color_bodyBackground: rgb(57, 197, 99);
    --color_box: rgba(230, 255, 230, .55);
    --color_box_hover: rgba(230, 255, 230, .65);
    --color_pagebox: rgba(230, 245, 230, .75);
    --color_pagebox_hover: rgba(230, 245, 230, .85);
    --color_purple: rgba(100, 100, 255, 1);
    --color_blue: rgba(1, 47, 255, 1);
    --color_green: rgba(1, 150, 47, 1);

    --start_btn_width: 15vw;
    --box_width: 20vw;
    --box_left: 5vw;
    --yiyan_margin: 2vw;
    --page_width: 60vw;
    --pages_left: 35vw;
    --padding_top: 10vh;
    --padding_top_minus: 5vh;
    --padding_top_plus: 15vh;
    --pages_columncount: 2;
    --navbtn_fontsize: 2.3vh;
    --navbtn_padding: 1.5vw;
    --musicbtn_fontsize: 2.8vh;
    --musicSelectorBox_width: 20vw;
    --artiitemgo_right: 5vw;
    --linkitemgo_right: 3vw;
    --item_after_width: 5vw;
}

/* 最小页面宽 */
@media screen and (max-width: 1600px) {
    body {
        width: 1600px;
    }
}

body {
    /* width: 100vw;
    height: 100vh; */
    margin: 0;
    padding: 0;
    /* position: relative; */
    background-color: var(--color_bodyBackground);
    cursor: url(../../public/cursor/normal.cur), default;
    /* cursor: url(../../../../../../coding/鼠标样式文件/naibai-cus_7234/牛奶蓝光标/diagonal1.cur), default; */
    overflow: auto;
}

button {
    cursor: url(../../public/cursor/normal.cur), default;
}

a {
    cursor: url(../../public/cursor/link.cur), default;
}

.main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
}

div::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
    /* scrollbar-arrow-color: red; */
    cursor: url(../../public/cursor/diagonal1.cur), default;
}

div::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    /* width: 5px;
    height: 5px; */
    border-radius: 15px;
    /* box-shadow: inset 0 0 5px rgba(50, 50, 250, .3); */
    background: rgba(50, 50, 150, .3);
    /* scrollbar-arrow-color: red; */
    transition: .3s;
}

div::-webkit-scrollbar-thumb:hover {
    background: rgba(127, 50, 250, 0.7);
}

div::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0); */
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

@keyframes startpage_hide {
    0% {
        opacity: 1;
        top: 0;
    }

    100% {
        opacity: 0;
        top: -10vh;
    }
}

@keyframes musicbox_hide {
    0% {
        opacity: 1;
        left: calc(var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2 + 1vw);
    }

    100% {
        opacity: 0;
        left: calc(var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2);
    }
}

@keyframes musicbox_show {
    0% {
        opacity: 0;
        left: calc(var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2);
    }

    100% {
        opacity: 1;
        left: calc(var(--navbtn_fontsize) * 2 + var(--navbtn_padding) * 2 + 1vw);
    }
}

@keyframes public_hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes public_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes page_hide_totop {
    0% {
        top: var(--padding_top);
        opacity: 1;
    }

    100% {
        top: var(--padding_top_minus);
        opacity: 0;
    }
}

@keyframes page_hide_tobottom {
    0% {
        top: var(--padding_top);
        opacity: 1;
    }

    100% {
        top: var(--padding_top_plus);
        opacity: 0;
    }
}

@keyframes page_show_totop {
    0% {
        top: var(--padding_top_plus);
        opacity: 0;
    }

    100% {
        top: var(--padding_top);
        opacity: 1;
    }
}

@keyframes page_show_tobottom {
    0% {
        top: var(--padding_top_minus);
        opacity: 0;
    }

    100% {
        top: var(--padding_top);
        opacity: 1;
    }
}