.background {
    height: 100%;
    width: 100%;
    background: url(../images/background.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
}

/* .pageHold {
    width: 1600px;
    height: 800px;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
} */

/* 启动页 */

.start {
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    position: absolute;
    top: 0;
}

.start-title {
    font-family: 'siyuan';
    font-size: 3vh;
    position: absolute;
    top: 35vh;
    width: 100%;
    text-align: center;
}

.start-btn {
    outline: none;
    border: none;
    font-family: 'siyuan';
    font-size: 3vh;
    position: absolute;
    top: 55vh;
    left: calc(50vw - var(--start_btn_width) / 2);
    width: var(--start_btn_width);
    text-align: center;
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    height: 8vh;
    line-height: 8vh;
    background-color: var(--color_box);
    transition: .3s;
}

.start-btn::before {
    content: '';
    width: 2px;
    height: 0vh;
    background-color: var(--color_green);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}

.start-btn::after {
    content: '';
    width: 2px;
    height: 0vh;
    background-color: var(--color_green);
    position: absolute;
    bottom: 0;
    left: var(--start_btn_width);
    transition: .3s;
}

.start-btn:hover {
    background-color: var(--color_box_hover);
}

.start-btn:hover::before,
.start-btn:hover::after {
    height: 8vh;
}

.home {
    z-index: 0;
}

/* 左侧信息栏 */

.box {
    position: fixed;
    background-color: var(--color_box);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    z-index: 0;
    overflow: auto;
    width: var(--box_width);
    left: var(--box_left);
}

.box:hover {
    background-color: var(--color_box_hover);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.info {
    z-index: 10;
}

.time {
    left: 7vw;
    top: 3vh;
    font-size: 2vh;
    position: fixed;
}

.info1 {
    height: 17vh;
    top: 10vh;
    font-family: 'pingfang';
}

.info1-logo {
    width: 10vh;
    height: 10vh;
    position: absolute;
    left: 4vh;
    top: 3.5vh;
    background-image: url(../images/logo.jpg);
    border-radius: 10vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .2s;
}

.info1-logo:hover {
    background-image: url(../images/mugi_square.png);
}

.info1-msg {
    position: absolute;
    left: 16vh;
    top: 5.5vh;
    font-size: 2vh;
    line-height: 3vh;
}

.info1-welcome {
    position: absolute;
    left: 5vh;
    bottom: 3vh;
    font-size: 2.5vh;
    color: var(--color_blue);
}

.yiyan {
    height: 25vh;
    top: 43vh;
    color: black;
    /* padding: 3vh; */
}

.yiyan-a {
    display: block;
    width: 100%;
    position: absolute;
    left: 0vw;
    text-align: center;
    /* cursor: default; */
    font-size: 2vh;
    z-index: 0;
    /* background-color: rgba(200, 200, 200, .4); */
    /* color: var(--basicColor_black_a100); */
    user-select: text;
    text-decoration: none;
    color: black;
    /* margin-right: 2vw; */
    /* margin-top: 3vh; */
    /* padding-top: 1vh; */
    /* margin: 2vw; */
}

.yiyan-sen {
    margin: var(--yiyan_margin);
}

.yiyan-from {
    text-align: right;
    margin-right: var(--yiyan_margin);
}

.yiyan-new {
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: "pingfang";
    font-size: 1.8vh;
    margin: 0;
    padding: 1vh;
    padding-left: var(--yiyan_margin);
    padding-right: var(--yiyan_margin);
    transition: .4s;
    border-radius: 10px;
}

.yiyan-new:hover {
    background-color: rgba(255, 255, 255, .5);
}

.info2 {
    height: 15vh;
    top: 75vh;
    font-family: 'consolas';
}

.info2-talk {
    font-size: 2vh;
    margin: 3vh;
}

/* 导航栏 */

.showInfo {
    font-family: 'icomoon';
    position: fixed;
    left: 5vw;
    top: 3vh;
    font-size: 2vh;
    background-color: var(--color_box);
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 1vh;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    width: 12vw;
    text-align: center;
    font-size: var(--navbtn_fontsize);
    display: none;
}

.nav {
    /* position: fixed; */
    position: fixed;
    left: 27vw;
    top: var(--padding_top);
    font-size: 2vh;
    background-color: var(--color_box);
    padding-top: 2vh;
    padding-bottom: 3vh;
    border-radius: 1vh;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    font-family: 'pingfang';
}

.nav:hover, 
.showInfo:hover {
    background-color: var(--color_box_hover);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.nav-btn {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: var(--navbtn_fontsize);
    height: 4vh;
    padding-left: var(--navbtn_padding);
    padding-right: var(--navbtn_padding);
    transition: .3s;
    border-radius: 3px;
}

.nav-btn:hover,
.nav-btn.active {
    color: var(--color_green);
}

/* Page */

/* .pages {
    width: 60vw;
    height: 80vh;
    position: absolute;
    left: 35vw;
    top: 15vh;
    overflow: auto;
    padding: 1vw;
} */

.page {
    width: var(--page_width);
    height: auto;
    position: absolute;
    left: var(--pages_left);
    top: var(--padding_top);
    /* background-color: #fff; */
    /* padding: 5vh; */
    z-index: 0;
}

.pageitem {
    z-index: 1;
    backdrop-filter: blur(2px);
    font-family: 'pingfang';
}

.talk,
.link {
    column-count: var(--pages_columncount);
    column-gap: 5vw;
}

.talk-item,
.link-item {
    break-inside: none;
}

.talk-item,
.arti-item,
.link-item,
.about-item {
    display: block;
    text-decoration: none;
    color: black;
    background-color: var(--color_pagebox);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    /* x 偏移量 | y 偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: .4s;
    z-index: 0;
    overflow: auto;
    padding: 5vh;
    margin-bottom: 5vh;
    /* word-break: break-all !important; */
    overflow-wrap: anywhere !important;
}

.link-item {
    padding: 3vh;
    line-clamp: 1;
}

.talk-item:hover,
.arti-item:hover,
.link-item:hover,
.about-item:hover {
    background-color: var(--color_pagebox_hover);
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.talk-item-time,
.arti-item-time {
    position: absolute;
    top: 2vh;
    color: palevioletred;
}

.talk-item-time::after,
.arti-item-time::after {
    content: '';
    width: var(--item_after_width);
    height: 2px;
    background-color: rgb(156, 156, 156);
    position: absolute;
    top: 3vh;
    left: 0vh;
}

.talk-item-content,
.arti-item-title {
    position: relative;
    top: 2vh;
    font-size: 2.2vh;
}

.arti-item-go,
.link-item-go {
    font-family: 'icomoon';
    font-size: 2.2vh;
    position: absolute;
    right: var(--artiitemgo_right);
    top: 5vh;
    transition: .3s;
}

.link-item-go {
    right: var(--linkitemgo_right);
}

.arti-item:hover .arti-item-go {
    right: calc(var(--artiitemgo_right) - 1vw);
}

.link-item:hover .link-item-go {
    right: calc(var(--linkitemgo_right) - 1vw);
}

.talk-item-content>img {
    width: 50%;
}

.arti-item-preview {
    position: relative;
    top: 2vh;
    font-size: 2vh;
    color: grey;
}

.link-item-name {
    display: block;
    width: auto;
    position: relative;
    top: -0.5vh;
    left: 0vw;
    font-size: 2.2vh;
}

.link-item-link {
    display: block;
    width: auto;
    position: relative;
    top: .5vh;
    left: 0vw;
    font-size: 1.8vh;
    color: rgb(100, 100, 100);
}

.about-item-title {
    position: relative;
    top: -1vh;
    font-size: 2.2vh;
}

.about-item-content {
    position: relative;
    top: 1vh;
    font-size: 2vh;
    /* color: grey; */
}